* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.conteiner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  text-align: center;
  background-color: rgb(241, 239, 239);
}
.form-class {
  display: flex;
}
.conteiner-input-first {
  margin: 15px 10px;
  display: flex;
  flex-wrap: nowrap;
}
.conteiner-input-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 10px;
}
.conteiner-input-last {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 5px 0;
}
.h-class {
  font-size: 26px;
  margin-bottom: 10px;
}
.h-class::before,
.h-class::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 96px;
  height: 2px;
  border: solid rgb(165, 161, 161);
  border-width: 0 10px;
  box-sizing: border-box;
  background-color: rgb(165, 161, 161);
}
.h-class::before {
  margin-right: 20px;
}
.h-class::after {
  margin-left: 20px;
}
.text-class {
  font-size: 15px;
  color: rgb(122, 121, 121);
}
.first-name,
.last-name,
.mail-name,
.pass-name,
.conf-pass-name {
  min-height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  border: 0;
  opacity: 0.8;
}
.first-name,
.last-name {
  align-self: stretch;
  width: 155px;
}
.first-name {
  margin-right: 10px;
}
.mail-name,
.pass-name {
  align-self: stretch;
  margin-bottom: 15px;
}
.conf-pass-name {
  align-self: stretch;
  margin-bottom: 5px;
}
.check-name {
  margin-right: 6px;
}
.check {
  margin: 0px 6px;
  color: rgb(122, 121, 121);
}
.a-first::after {
  content: "&";
  margin: 0 10px;
}
.a-first,
.a-second {
  text-decoration: none;
  color: rgb(87, 182, 87);
}
.batt-name {
  width: 94%;
  margin: 10px 15px 10px 10px;
  min-height: 35px;
  background-color: rgb(87, 182, 87);
  border: 0;
  border-radius: 3px;
  color: beige;
  font-weight: bold;
}
